.advantages__icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-bottom: 30px;

    &--bg {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 270px;
            height: 120px;
            background: $advIconBgColor;
            border-radius: $cardBorderRadius;
}

    &--icon {
        width: 70px;
         height: 70px;
        }
}


.advantages__textbox {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 30px;

    &--title {
            font-size: 14px;
            font-weight: 700;
        }

    &--desc {
        font-weight: 400;
        font-size: 14;
        line-height: 24px;
        /* or 171% */
        letter-spacing: 0.03em;
        color: $secondaryColor;
        margin-top: 10px;
    }
}

