.page-footer {
    display: flex;
    background-color: #2f303a;
    margin: 0 auto;
    line-height: 2;
}

.footer {
    margin: 0 auto;
    display: inline-flex;
}

.footer__logo {
    text-decoration: none;
    cursor: pointer;
    padding-bottom: 20px;
}

.footer-address {
    padding: 60px 70px 60px 0;
}

.footer-address__info {
    color: #ffffff;
    font-style: normal;
    font-size: 14px;
    vertical-align: top;
    letter-spacing: 0.25px;
    line-height: 1;
}

.footer-address__info--link {
    color: #ffffff99;
    font-style: normal;
    font-size: 14px;
    vertical-align: top;
    letter-spacing: 0.25px;
    line-height: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address__info--link:hover {
    color: $brandColor;
}

/**/
.footer-social {
    margin-top: 72px;
}

.footer-social__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.25px;
    color: #ffffff;
}

.footer-social__iconbox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top: 10px;
}

.social-ft-icon {
    width: 20px;
    height: 20px;
}

.footer-social__iconbox--item {
    fill: white;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__iconbox--item:hover {
    background-color: $brandColor;
}

/* newsletter */

.footer-newsletter {
    margin-left: 77px;
    margin-top: 65px;
}

.footer-newsletter__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.25px;
    color: #ffffff;
}

.footer-newsletter-form {
    display: inline-flex;
}

.footer-newsletter-form__email {
    background-color: #2f303a;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    padding-left: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    margin-right: 12px;
    width: 358px;
    height: 50px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

}

.footer-newsletter-form__email::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}


.footer-newsletter-form__email:hover {
    border-color: $brandColor;
}

.email-newsletter:focus-within {
    outline: 1px solid $brandColor;
}

.footer-newsletter-form__button {
    display: flex;
    align-items: center;
    border: none;
    padding: 10px 0px 10px 42px;
    color: #fff;
    cursor: pointer;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.06em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-newsletter-form__button:hover,
.footer-newsletter-form__button:focus {
    background-color: #1976d2;
}

.footer-newsletter-form__button--icon {
    height: 24px;
    width: 24px;
    margin-left: 24px;
    margin-right: 27px;
}