/* Colors */

$brandColor: #2196F3;

$primaryColor: #212121;
$secondaryColor: #757575;
$btnHoverColor: #1976d2;
$socialIconFill: #afb1b8;

/* background color */

$advIconBgColor:  #f5f4fa;
$bannerBgColor:  #2f303a;
$teamBgColor: #f5f4fa;
$footerBgColor: #2f303a;

/* Border radius */

$cardBorderRadius: 4px;
$btnBorderRadius: 4px;


/* Buttons font */
$btnFontWeight: 700;
$btnFontSize: 16px;
$btnLetterSpacing: 0.06em;
$btnLetterColor: white;

/* Fonts */

// USAGE
body {
    font-family: 'Raleway', "Roboto";
}

/* cyrillic-ext */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVs9pbCFPrEHJA.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}


/* cyrillic-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

